*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Red Hat Display', sans-serif;
 
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $pale-blue;
    background-position: top;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.card{
    max-width: 450px;
    width: 88%;
    margin-top: 7rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 10px 10px 20px hsla(245, 75%,52%, 0.15), 15px 15px 30px hsla(245, 75%,52%, 0.15);

    .hero{
        width: 100%;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem;

        .title{
            font-size: 2.2rem;
            font-weight: 900;
            color:$dark-blue;
        }

        .description{
            font-size: 1.5rem;
            font-weight: 500;
            color: $desaturated-blue;
            padding: 1.6rem 1rem;
            line-height: 2.4rem;
            text-align: center;
        }
        
        .plan{
            background-color: $very-pale-blue;
            width: 100%;
            border-radius: 1.5rem;
            margin: 0.8rem 0;
            padding: 1.6rem 1.2rem;

            .list{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 2rem;
            }
            .anual{
                color: $dark-blue;
                font-size: 1.4rem;
                font-weight: 900;
                margin-bottom: 0.5rem;
            }
            
            .price {
                color: $desaturated-blue;
                font-size: 1.4rem;
                font-weight: 700;
                opacity: 0.9;
            }

            a{
                color: $bright-blue;
                font-size: 1.3rem;
                font-weight: 700;

                &:hover{
                    text-decoration: none;
                    opacity: 0.75;
                }
            }
        }
        .btn{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1rem;
        }
        .primary{
            background-color: $bright-blue;
            padding: 1.5rem;
            margin: 1.4rem;
            color:white;
            font-size: 1.5rem;
            font-weight: 700;
            cursor: pointer;
            box-shadow: 10px 10px 20px hsla(245, 75%,52%, 0.15), 15px 15px 30px hsla(245, 75%,52%, 0.15);

            &:hover{
                opacity: 0.7;
            }
        }
        .secondary{
            
            
            a {color: $desaturated-blue;
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: 900;

            &:hover {
                color:$dark-blue;
            }
            
            }
            
            
        }
    }
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}